<footer class="footer">
    <div class="links">
        <p>Connect with us : </p>
        <img src="youtube.png" alt="youtube" height="30px" width="30px" style="cursor: pointer;">
        <img src="facebook.png" alt="facebook" height="30px" width="30px" style="cursor: pointer;">
        <img src="instagram.png" alt="instagram"  height="30px" width="30px" style="cursor: pointer;">
    </div>

    <p>Copyright 2024-25 All Rights Reserved</p>
</footer>