<%- include("upper_body.ejs") %>

    <div class="not_found">
        <h2>404 Page Not Found</h2>
        <button onclick="navigateTo('/')">Go to Home Page</button>
    </div>
    
<%- include("lower_body.ejs") %>